<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<br><br>
<div class="container-fluid" ng-app="markovApp" ng-controller="stateCtrl" ng-cloak>
  <div class="col-md-offset-1 col-md-10 col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Talk to the hand!
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-xs-12 col-md-2">Antal forrige ord til at finde det næste</label>
            <div class="col-xs-12 col-xs-6">
              <input type="number" class="form-control" ng-model="left_size">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-md-2">Antal ord der skal findes baseret på overstående</label>
            <div class="col-xs-12 col-md-6">
              <input type="number" class="form-control" ng-model="right_size">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-md-2">Input</label>
            <div class="col-xs-12 col-md-6">
              <input type="text" class="form-control" ng-model="left">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-md-2"></label>
            <div class="col-xs-12 col-md-6">
              <button type="button" class="btn btn-primary" ng-click="start();">Go!</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        Output
      </div>
      <div class="panel-body">
        <textarea ng-model="result" class="form-control" rows="12"></textarea>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://code.angularjs.org/1.6.4/angular-resource.min.js"></script>

<%= javascript_include_tag "application" %>